.p-datepicker-header {
  margin-bottom: 14px;
}

.p-datepicker-title {
  display: flex;
  gap: 4px;
}

.p-datepicker-title button {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: var(--main);
}

.p-datepicker-prev {
  height: 24px;
  width: 24px;
  padding: 0;
  background-color: transparent;
  border: none;
}

.p-datepicker-next {
  height: 24px;
  width: 24px;
  padding: 0;
  background-color: transparent;
  border: none;
}

.p-datepicker-current-day {
  background-color: red;
}

table thead span {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  color: var(--text);
}

table tbody span {
  padding: 4px;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  color: var(--text);
}

table tbody span:hover {
  border-radius: 50%;
  background-color: rgba(16, 24, 40, 0.2);
}
