.main_subtitle {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--main);
  margin-bottom: 20px;
}

.home_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.home_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text);
}

.home_text span {
  font-weight: 600;
  font-size: 16px;
  color: var(--main);
}
