.header {
  border-bottom: 1px solid var(--text);
}

.header_conteiner {
  margin: 0 auto;
  width: 400px;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
}

.header_right_wraper {
  display: flex;
  align-items: center;
  gap: 30px;
}
