.header {
  border-bottom: 1px solid var(--text);
}

.header_conteiner {
  margin: 0 auto;
  max-width: 400px;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
}

.header_right_wraper {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media screen and (min-width: 768px) {
  .header_conteiner {
    max-width: 600px;
    padding: 30px 10px;
  }

  .header_right_wraper {
    gap: 30px;
  }
}

@media screen and (min-width: 1342px) {
  .header_conteiner {
    max-width: 1200px;
  }
}
