.footer {
  background-color: var(--text);
}

.footer_conteiner {
  margin: 0 auto;
  max-width: 400px;
  padding: 60px 10px;
  display: flex;
  justify-content: space-between;
}

.footer_list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.footer_back_link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--inputs);
}

.footer_link:hover {
  transition: color 250ms ease;
  color: var(--button);
}

@media screen and (min-width: 768px) {
  .footer_conteiner {
    max-width: 650px;
  }
}

@media screen and (min-width: 1342px) {
  .footer_conteiner {
    max-width: 1200px;
  }
}
