.custom_radio {
  position: relative;
  display: flex;
  cursor: pointer;
  font-size: 16px;
}

.custom_radio input[type='radio'] {
  position: absolute;
  opacity: 0;
}

.custom_radio input[type='radio'] + .radio_label:before {
  content: '';
  display: inline-block;
  background-color: transparent;
  border-radius: 10px;
  width: 112px;
  height: 95px;
  position: absolute;
  border: 1px solid rgba(16, 24, 40, 0.2);
  transition: border-color 0.3s;
}

.custom_radio input[type='radio']:checked + .radio_label:before {
  border-color: #e44848;
}

.radio_label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.radio_label:before {
  content: '';
  display: inline-block;
  background-color: transparent;
  border-radius: 10px;
  width: 112px;
  height: 95px;
  position: absolute;
  border: 1px solid rgba(16, 24, 40, 0.2);
  transition: border-color 0.3s;
}
